<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title></title>
</head>
<body>
	<div th:fragment="include">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="css/styles.css" />
		<link rel="stylesheet" href="css/unicorn.main.css" />
		<link rel="stylesheet" href="css/unicorn.grey.css"
			class="skin-color" />
		<link rel="stylesheet" href="css/uniform.css" />
		<link rel="stylesheet" href="css/select2.css" />
		<link rel="stylesheet" href="css/jquery.gritter.css" />
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dataTables.min.js"></script>
		<script src="js/unicorn.js"></script>
		<script src="js/unicorn.tables.js"></script>
		<script src="js/jquery.gritter.min.js"></script>
		<script type="text/javascript"
			src="js/handlebars-1.0.0.beta.6.js"></script>
		<script src="js/datetimepicker/bootstrap-datetimepicker.js"></script>
		<script src="js/datetimepicker/bootstrap-datetimepicker.fr.js"></script>
		<script
			src="js/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
<script type="text/javascript" src="js/handlebars-1.0.0.beta.6.js"></script>
		<script type="text/javascript" src="js/lhgdialog/prettify.js"></script>
		<script type="text/javascript" src="js/lhgdialog/demo.js"></script>
		<script type="text/javascript" src="js/lhgdialog/lhgdialog.js"></script>
		<script type="text/javascript" src="js/pagination.js"></script>
		<script src="js/jsnew/formValidator-4.0.1.min.js"></script>
<script src="js/jsnew/formValidatorRegex.js"></script>
	</div>
</body>
</html>