	<div class="pane-content" th:fragment="menu">
 <div class="leftnav">
			<div class="sidebar_close">
                 <ul id="sidebar_close">
                
                  <li class="mar_top"><a href="tables.html"><i class="icon icon-th"></i></a></li>
                  <li class="lihove_pen"><a href="form.html"><i class="icon icon-edit"></i></a>
                        <ul class="sidebar_closepen">
                            <li class="bornone"><a href="error403.html">Pencil1</a>	</li>
                            <li class="bornone"><a href="buttons.html">Pencil2</a>	 </li>
                            <li class="bornone"><a href="buttons.html">Pencil3</a>	</li>
                            <li class="bornone"><a href="buttons.html">Pencil4</a>	</li>
                            <li class="bornone"><a href="buttons.html">Pencil5</a>	</li>
                        </ul>
                  
                  </li>
                  <li class="lihove active"><a href="index.html"><i class="icon icon-magnet"></i></a>
                        <ul class="sidebar_closexl">
                        	<li class="bornone"><a href="error403.html">报错提示</a> </li>
                            <li class="bornone"><a href="buttons.html">按钮</a> </li>
                            <li class="bornone"><a href="tree.html">树样式</a></li>
                            <li class="bornone"><a href="tab.html">选项卡</a></li>
                            <li class="bornone"><a href="blockquotes.html" class="acli">面包屑</a></li>
                            <li class="bornone"><a href="search.html">搜索</a></li>
                            <li class="bornone"><a href="pagination.html">分页</a></li>
                            <li class="bornone"><a href="lhgdialog.html">弹出层</a></li>
                            <li class="bornone"><a href="richtext.html">富文本</a></li>
                            <li class="bornone"><a href="my97datapicker.html">日期</a></li>
                            <li class="bornone"><a href="lhgdialog.html">弹出层</a></li>
                            <li class="bornone threemenus"><a href="my97datapicker.html">文件上传<span class="label">2</span></a>
                            	<ul class="sidebar_closepen_list">
                                    <li class="bornone"><a href="upload1.html">批量上传</a>	</li>
                                    <li class="bornone"><a href="upload2.html">限制文件类型</a>	</li>
                                </ul>
                            </li>
                        </ul>
                  </li>       
                  <li><a href=""><i class="icon icon-book"></i></a></li>
                  <li><a href="layout.html"><i class="icon icon-eye-open"></i></a></li>   
                </ul>
            </div>
		<div id="sidebar">
			<a href="#" class="visible-phone"><i class="icon icon-inbox"></i> Widgets</a>

			<ul id="sidebar_open">
            	<li style="margin-top:82px;"><a href="tables.html" class="borleft"><i class="icon icon-th"></i> <span>表格/列表</span><i class="ft">Tables</i></a></li>
                <li><a href="form.html" class="borleft"><i class="icon icon-edit"></i> <span>表单</span><i class="ft">Forms</i></a></li>
				<li class="submenu active">
					<a href="#" class="borleft"><i class="icon icon-magnet"></i> <span>界面元素</span> <i class="ft">Dashboard</i><span class="label">11</span></a>
					<ul id="djcd">
						<li class="bornone" style="margin-top:10px;"><a href="error403.html">报错提示<i class="ft">error</i></a> </li>
                        <li class="bornone"><a href="buttons.html">按钮<i class="ft">Buttons</i></a> </li>
                        <li class="bornone"><a href="tree.html">树样式<i class="ft">Tree</i></a></li>
                        <li class="bornone"><a href="tab.html">选项卡<i class="ft">Tabs</i></a></li>
                        <li class="bornone"><a href="blockquotes.html" class="acli">面包屑<i class="ft">Blockquotes</i></a></li>
                        <li class="bornone"><a href="search.html">搜索<i class="ft">Tabs</i></a></li>
                        <li class="bornone"><a href="pagination.html">分页<i class="ft">Pagination</i></a></li>
                        <li class="bornone"><a href="lhgdialog.html">弹出层<i class="ft">Popup</i></a></li>
                        <li class="bornone"><a href="richtext.html">富文本<i class="ft">Texts</i></a></li>
                        <li class="bornone"><a href="my97datapicker.html">日期<i class="ft">Date</i></a></li>
                        <li class="bornone"><a href="upload1.html">文件批量上传<i class="ft">Upload</i></a></li>
                        <li class="bornone"><a href="upload2.html">限制文件类型<i class="ft">Uploadtype</i></a></li>
					</ul>

				</li>
				<li><a href="" class="borleft"><i class="icon icon-book"></i> <span>附加</span><i class="ft">Extra</i></a></li>
				<li><a href="layout.html" class="borleft"><i class="icon icon-eye-open"></i> <span>布局</span><i class="ft">layout</i></a></li>
				<li>
					<a href="#" class="sub borleft"><i class="icon icon-pencil"></i> <span>菜单</span> <i class="ft">Dashboard</i><span class="label">4</span></a>
					<ul id="ejcd" class="djcd" style="background:#2f3844;">
						<li class="borsolid"><a href="" class="erji">分类<i class="ft">Classify</i></a> </li>
                        <li class="borsolid"><a href="#" class="erji yjan">列表<i class="ft">List</i><span class="label">3</span></a> 
                        	<ul id="sjcd" class="djcd">
                                <li class="borsolid"><a href="error403.html" class="sanji">版权</a> </li>
                                <li class="borsolid"><a href="javascript:void:(0);" class="sanji sjdj">按钮<span class="label">3</span></a>
                                	<ul id="fjcd" class="djcd">
                                        <li class="borsolid"><a href="error403.html" class="siji">error403</a> </li>
                                        <li class="borsolid"><a href="" class="siji">按钮</a> </li>
                                        <li class="borsolid"><a href="" class="siji">按钮</a></li>
                                    </ul>
                                 </li>
                                <li class="borsolid"><a href="" class="sanji">面板</a></li>

                            </ul>
                        </li>
                        <li class="borsolid"><a href="" class="erji">面板<i class="ft">Panels</i></a></li>
                        <li class="borsolid"><a href="" class="erji">选项卡<i class="ft">Tabs</i></a></li>
					</ul>
				</li>
			</ul>
		
		</div>
		</div>
        <!--改动的代码范围end-->
        
	</div>

