<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Unicorn Admin</title>
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/bootstrap-responsive.min.css" />
        <link rel="stylesheet" href="../css/styles.css" />
		<link rel="stylesheet" href="../css/unicorn.main.css" />
		<link rel="stylesheet" href="../css/uniform.css" />
		<link rel="stylesheet" href="../css/select2.css" />		
		<link rel="stylesheet" href="../css/unicorn.main.css" />
		<link rel="stylesheet" href="../css/unicorn.grey.css" class="skin-color" />	
		<link rel="stylesheet" href="../css/upload/jquery.fileupload.css">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
	<body>
		
		<div id="header">          
         <div id="in-sub-nav">
          <div class="in-sub-navimg"> <img src="../img/logo.png"/></div>
          
          <i id="sidebar_btn" class="icona icon-align-justify"></i>
              <div class="container">
                <div>
                  <div id="row_nav" style="width:auto;">
                    <ul>
                      <li><a href="tables.html"><i class="icon icon-th"></i>表格</a></li>
                      <li><a href="form.html"><i class="icon icon-edit"></i>表单</a></li>
                      <li><a href="index.html" class="active"><i class="icon icon-magnet"></i>界面元素</a></li>
                      <li><a href="buttons.html"><i class="icon icon-book"></i>附加</a></li>
                      <li><a href="layout.html"><i class="icon icon-eye-open"></i>布局</a></li>
                    </ul>
                  </div>
                  <div id="search">
                  	<i class="icon-search icon-white searchtb iconmar"></i>
            		<div class="searchtext" style="display:none;">
                    	<input class="test" type="text" placeholder="Search here..." /><button type="submit" class="tip-right" title="Search"><i class="icon-search icon-white"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
		</div>

            
		<div class="leftnav">
			<div class="sidebar_close">
                <ul id="sidebar_close">
                
                  <li class="mar_top"><a href="tables.html"><i class="icon icon-th"></i></a></li>
                  <li class="lihove_pen"><a href="form.html"><i class="icon icon-edit"></i></a>
                        <ul class="sidebar_closepen">
                            <li class="bornone"><a href="error403.html">Pencil1</a>	</li>
                            <li class="bornone"><a href="buttons.html">Pencil2</a>	 </li>
                            <li class="bornone"><a href="buttons.html">Pencil3</a>	</li>
                            <li class="bornone"><a href="buttons.html">Pencil4</a>	</li>
                            <li class="bornone"><a href="buttons.html">Pencil5</a>	</li>
                        </ul>
                  
                  </li>
                  <li class="lihove active"><a href="index.html"><i class="icon icon-magnet"></i></a>
                        <ul class="sidebar_closexl">
                        	<li class="bornone"><a href="error403.html">报错提示</a> </li>
                            <li class="bornone"><a href="buttons.html">按钮</a> </li>
                            <li class="bornone"><a href="tree.html">树样式</a></li>
                            <li class="bornone"><a href="tab.html">选项卡</a></li>
                            <li class="bornone"><a href="blockquotes.html" class="acli">面包屑</a></li>
                            <li class="bornone"><a href="search.html">搜索</a></li>
                            <li class="bornone"><a href="pagination.html">分页</a></li>
                            <li class="bornone"><a href="lhgdialog.html">弹出层</a></li>
                            <li class="bornone"><a href="richtext.html">富文本</a></li>
                            <li class="bornone"><a href="my97datapicker.html">日期</a></li>
                            <li class="bornone"><a href="lhgdialog.html">弹出层</a></li>
                            <li class="bornone threemenus"><a href="my97datapicker.html">文件上传<span class="label">2</span></a>
                            	<ul class="sidebar_closepen_list">
                                    <li class="bornone"><a href="upload1.html">批量上传</a>	</li>
                                    <li class="bornone"><a href="upload2.html">限制文件类型</a>	</li>
                                </ul>
                            </li>
                        </ul>
                  </li>       
                  <li><a href=""><i class="icon icon-book"></i></a></li>
                  <li><a href="layout.html"><i class="icon icon-eye-open"></i></a></li>   
                </ul>
            </div>
		<div id="sidebar">
			<a href="#" class="visible-phone"><i class="icon icon-inbox"></i> Widgets</a>

			<ul id="sidebar_open">
            	<li class="mar_top"><a href="tables.html" class="borleft"><i class="icon icon-th"></i> <span>表格/列表</span><i class="ft">Tables</i></a></li>
                <li><a href="form.html" class="borleft"><i class="icon icon-edit"></i> <span>表单</span><i class="ft">Forms</i></a></li>
				<li class="submenu active">
					<a href="#" class="borleft"><i class="icon icon-magnet"></i> <span>界面元素</span> <i class="ft">Dashboard</i><span class="label">11</span></a>
					<ul id="djcd" style="display:block;">
						<li class="bornone" style="margin-top:10px;"><a href="error403.html">报错提示<i class="ft">error</i></a> </li>
                        <li class="bornone"><a href="buttons.html">按钮<i class="ft">Buttons</i></a> </li>
                        <li class="bornone"><a href="tree.html">树样式<i class="ft">Tree</i></a></li>
                        <li class="bornone"><a href="tab.html">选项卡<i class="ft">Tabs</i></a></li>
                        <li class="bornone"><a href="blockquotes.html">面包屑<i class="ft">Blockquotes</i></a></li>
                        <li class="bornone"><a href="search.html">搜索<i class="ft">Tabs</i></a></li>
                        <li class="bornone"><a href="pagination.html">分页<i class="ft">Pagination</i></a></li>
                        <li class="bornone"><a href="lhgdialog.html">弹出层<i class="ft">Popup</i></a></li>
                        <li class="bornone"><a href="richtext.html">富文本<i class="ft">Texts</i></a></li>
                        <li class="bornone"><a href="my97datapicker.html">日期<i class="ft">Date</i></a></li>
                        <li class="bornone"><a href="upload1.html" class="acli">文件批量上传<i class="ft">Upload</i></a></li>
                        <li class="bornone"><a href="upload2.html">限制文件类型<i class="ft">Uploadtype</i></a></li>
					</ul>

				</li>
				<li><a href="" class="borleft"><i class="icon icon-book"></i> <span>附加</span><i class="ft">Extra</i></a></li>
				<li class=""><a href="layout.html" class="borleft"><i class="icon icon-eye-open"></i> <span>布局</span><i class="ft">layout</i></a></li>
				<li>
					<a href="#" class="sub borleft"><i class="icon icon-pencil"></i> <span>菜单</span> <i class="ft">Dashboard</i><span class="label">4</span></a>
					<ul id="ejcd" class="djcd" style="background:#2f3844;">
						<li class="borsolid"><a href="" class="erji">分类<i class="ft">Classify</i></a> </li>
                        <li class="borsolid"><a href="#" class="erji yjan">列表<i class="ft">List</i><span class="label">3</span></a> 
                        	<ul id="sjcd" class="djcd">
                                <li class="borsolid"><a href="error403.html" class="sanji">版权</a> </li>
                                <li class="borsolid"><a href="javascript:void:(0);" class="sanji sjdj">按钮<span class="label">3</span></a>
                                	<ul id="fjcd" class="djcd">
                                        <li class="borsolid"><a href="error403.html" class="siji">error403</a> </li>
                                        <li class="borsolid"><a href="" class="siji">按钮</a> </li>
                                        <li class="borsolid"><a href="" class="siji">按钮</a></li>
                                    </ul>
                                 </li>
                                <li class="borsolid"><a href="" class="sanji">面板</a></li>

                            </ul>
                        </li>
                        <li class="borsolid"><a href="" class="erji">面板<i class="ft">Panels</i></a></li>
                        <li class="borsolid"><a href="" class="erji">选项卡<i class="ft">Tabs</i></a></li>
					</ul>
				</li>
			</ul>
		
		</div>
		</div>
		
		<!-- <div id="style-switcher">
			<i class="icon-arrow-left icon-white"></i>
			<span>Style:</span>
			<a href="#grey" style="background-color: #555555;border-color: #aaaaaa;"></a>
			<a href="#blue" style="background-color: #2D2F57;"></a>
			<a href="#red" style="background-color: #673232;"></a> 
		</div>-->
		
		<div id="content">
			<div id="content-header">
                <h1>文件上传</h1>
                <div class="btn-group">
                    <a class="btn btn-large tip-bottom" title="Manage Files"><i class="icon-file"></i></a>
                    <a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
                    <a class="btn btn-large tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a>
                    <a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
                </div>
            </div>
            <div id="breadcrumb">
                <a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a>
                <a href="samples.html">文件管理</a>
                <a href="#" class="current">文件批量上传</a>
            </div>
			<div class="text_content">
			<!-- The file upload form used as target for the file upload widget -->
		    <form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">        
		        <div class=" fileupload-buttonbar">
		            <div class="col-lg-7">
		                <!-- The fileinput-button span is used to style the file input field as button -->
		                <h3>批量上传</h3>
		                <span class="btn btn-default fileinput-button">
		                  
		                    <span>Add files...</span>
		                    <input type="file" name="files[]" >
		                </span>
		                <button type="submit" class="btn btn-default start">
		                    <i class="glyphicon glyphicon-upload"></i>
		                    <span>Start upload</span>
		                </button>
		                <button type="reset" class="btn btn-default cancel">
		                    <i class="glyphicon glyphicon-ban-circle"></i>
		                    <span>Cancel upload</span>
		                </button>
		                <button type="button" class="btn btn-default delete">
		                    <i class="glyphicon glyphicon-trash"></i>
		                    <span>Delete</span>
		                </button>
		                <input type="checkbox" class="toggle">
		                <!-- The global file processing state -->
		                <span class="fileupload-process"></span>
		            </div>
		            <!-- The global progress state -->
		            
		        </div>
		        <!-- The table listing the files available for upload/download -->
		        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
		    </form>
		    </div>
			
		</div>

			
		
		
            
            <script src="../js/jquery.min.js"></script>
           
            <script src="../js/bootstrap.min.js"></script>
          
       
          
            <script src="../js/unicorn.js"></script>
         
			 <!-- The template to display files available for upload -->
			<script id="template-upload" type="text/x-tmpl">
			{% for (var i=0, file; file=o.files[i]; i++) { %}
			    <tr class="template-upload fade">
			        <td>
			            <span class="preview"></span>
			        </td>
			        <td>
			            <p class="name">{%=file.name%}</p>
			            <strong class="error text-danger"></strong>
			        </td>
			        <td>
			            <p class="size">Processing...</p>
			            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
			        </td>
			        <td>
			            {% if (!i && !o.options.autoUpload) { %}
			                <button class="btn btn-default start" disabled>
			                    <i class="glyphicon glyphicon-upload"></i>
			                    <span>Start</span>
			                </button>
			            {% } %}
			            {% if (!i) { %}
			                <button class="btn btn-default cancel">
			                    <i class="glyphicon glyphicon-ban-circle"></i>
			                    <span>Cancel</span>
			                </button>
			            {% } %}
			        </td>
			    </tr>
			{% } %}
			</script>
			<!-- The template to display files available for download -->
			<script id="template-download" type="text/x-tmpl">
			{% for (var i=0, file; file=o.files[i]; i++) { %}
			    <tr class="template-download fade">
			        <td>
			            <span class="preview">
			                {% if (file.thumbnailUrl) { %}
			                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
			                {% } %}
			            </span>
			        </td>
			        <td>
			            <p class="name">
			                {% if (file.url) { %}
			                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
			                {% } else { %}
			                    <span>{%=file.name%}</span>
			                {% } %}
			            </p>
			            {% if (file.error) { %}
			                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
			            {% } %}
			        </td>
			        <td>
			            <span class="size">{%=o.formatFileSize(file.size)%}</span>
			        </td>
			        <td>
			            {% if (file.deleteUrl) { %}
			                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
			                    <i class="glyphicon glyphicon-trash"></i>
			                    <span>Delete</span>
			                </button>
			                <input type="checkbox" name="delete" value="1" class="toggle">
			            {% } else { %}
			                <button class="btn btn-default cancel">
			                    <i class="glyphicon glyphicon-ban-circle"></i>
			                    <span>Cancel</span>
			                </button>
			            {% } %}
			        </td>
			    </tr>
			{% } %}
			</script>


			<script src="../js/jquery.min.js"></script>
			<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
			<script src="../js/upload/vendor/jquery.ui.widget.js"></script>
			<!-- The Templates plugin is included to render the upload/download listings -->
			<script src="../js/upload/tmpl.min.js"></script>
			<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
			<script src="../js/upload/load-image.all.min.js"></script>
			<!-- The Canvas to Blob plugin is included for image resizing functionality -->
			<script src="../js/upload/canvas-to-blob.min.js"></script>
			<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
			<script src="../js/bootstrap.min.js"></script>
			<!-- blueimp Gallery script -->
			<script src="../js/upload/jquery.blueimp-gallery.min.js"></script>
			<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
			<script src="../js/upload/jquery.iframe-transport.js"></script>
			<!-- The basic File Upload plugin -->
			<script src="../js/upload/jquery.fileupload.js"></script>
			<!-- The File Upload processing plugin -->
			<script src="../js/upload/jquery.fileupload-process.js"></script>
			<!-- The File Upload image preview & resize plugin -->
			<script src="../js/upload/jquery.fileupload-image.js"></script>
			<!-- The File Upload audio preview plugin -->
			<script src="../js/upload/jquery.fileupload-audio.js"></script>
			<!-- The File Upload video preview plugin -->
			<script src="../js/upload/jquery.fileupload-video.js"></script>
			<!-- The File Upload validation plugin -->
			<script src="../js/upload/jquery.fileupload-validate.js"></script>
			<!-- The File Upload user interface plugin -->
			<script src="../js/upload/jquery.fileupload-ui.js"></script>
			<!-- The main application script -->
			<script src="../js/upload/main.js"></script>
			<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
			<!--[if (gte IE 8)&(lt IE 10)]>
			<script src="../js/upload/cors/jquery.xdr-transport.js"></script>
			<![endif]-->
			 <script src="../js/jquery.gritter.min.js"></script> 
    	

	</body>
</html>
